@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.3em;
    font-family: 'oswald', sans-serif;
    background-image: url(https://image.api.playstation.com/vulcan/img/rnd/202010/1520/EfaKUXGWULuDpnL0Ai0eujhs.png);
    background-attachment: fixed;
}

.container{
    display: grid;
    max-width: 90%;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    grid-gap: 2rem;
    margin-bottom: 2rem ;
}

#main-header{
    background-color: teal;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px ;
}

.card{
    display: grid;
    grid-template-columns: 27% 55%;
    grid-column: 1 / 2;
    background-color: dimgrey;
    position: relative;
}

.text-1{
    grid-column: 2 /3;
    text-align: center;
    margin:auto;
}

.photo{
    width: 350px;
    height: 350px;
    padding: 7px;
    margin-top: 3px;
}

.card .btn{
    display: inline-block;
    text-decoration: none;
    background: #884c4c;
    border-radius: 15px;
    color: #fff;
    padding: 0.8rem 1.8rem;
    position: absolute;
    right: 19%;
    bottom: 2%;
}

.card-2{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column: 1 / 2;
    background-color: dimgrey;
}

.text-video{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-video span{
    color: green;
    font-weight: bold;
}