* {
    margin-left: 1%;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-size: cover;
    background-attachment: fixed;
    float: left;
    width: 50%;
    padding-top: 10%;
    margin: auto;
}

@media(max-width:1100px) {
    .col {
        width: 100%;
    }
}