* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    /* background-image: url(./img/fundoTCC.jpg); */
    background-color: brown;
    background-size: cover;
    background-attachment: fixed;
}

.col {
    background-color: brown;
    float: left;
    width: 50%;
    padding-top: 10%;
    margin: auto;

}

@media(max-width:1100px) {
    .col {
        width: 100%;
    }
}

.container .btn {
    margin: 2% 0;
    padding: 0.5% 2%;
    border: 1px solid black;
    color: #fff;
}