*{
    margin: 0;
    padding: 0;
}

#card{
    background-color: #f4f4f4;
    width: 80%;
    margin: 15% 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

img{
    width: 100%;
}

.btn{
    margin-top: 5%;
    position: relative;
}

@media(max-width:758px) {
    img {
    width: 100%;
    }
}