@charset "utf-8";
body {
 font-family: "Tahoma", sans-serif;
 background: #333;
}

img{
    width: 330px;
    height: 247px;
}

.col2 img{
    width: 60%;
}

.col {
    width: 49%;
    float: left;
    box-sizing: border-box;
}
.price-box img{
    float: left;
}

.price-box {
    background: #fff;
    color: #555;
    border: 1px solid #555;
    margin: 3px;
    padding: 0;
    font-size: 22.4px;
}

.col2{
    float: left;
    width: 24.5%;
    box-sizing: border-box;
}

@media(max-width:768px) {
    .col {
    width: 100%;
    }
    .col2{
        width: 100%;
    }
}